.form {
  background-color: white;
  border: 1px solid #111;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  border-radius: 20px;
  padding: 20px;
}

label {
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}
.form__title {
  text-decoration: underline;
  font-weight: 700;
  padding-bottom: 20px;
}
.idInput {
  margin-left: 27px;
}
.salaryInput {
  margin-left: 59px;
}

.submit__button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 1px;
  border-radius: 6px;
}
